h1{
    text-align: center;
    background-color: hotpink;
    text-align: center;
}

#Niwelt {
    text-align: center;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h2{
    text-align: center;
}